h1, h2, h3 {
    text-align: center;
    color: deeppink;
    font-size: 50px;
}
p {
    color: white;
    text-align: center;
    font-size: 30px;
}
body {
    background-image: url(https://i.postimg.cc/X7QGxmPJ/rb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }
button {
    text-align: center;
}
.image {
  height: 400px;
  width: 400px;
  image-rendering: auto;
.smooth {
  image-rendering: smooth;
}

.high-quality {
  image-rendering: high-quality;
}
