h1 {
    color: pink;
    font-size: 50px;
     }
h2 {
    color: pink;
    font-size: 50px;
}    
h3 {
    color: pink;
    font-size: 50px;
}
    body {
    background-image: url(https://i.postimg.cc/G3D9R9M0/rb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }
