h1, h2, h3 {
    text-align: center;
    color: fuchsia;
    font-size: 70px;
}
p {
    color: 	lime;
    text-align: center;
    font-size: 30px;
}
body {
    background-image: url(https://i.postimg.cc/fRpFmQLL/20240126-183332.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }
button {
    text-align: center;
}
.image {
  height: 400px;
  width: 400px;
  image-rendering: auto;
.smooth {
  image-rendering: smooth;
}

.high-quality {
  image-rendering: high-quality;
}
